
#header {
  padding: 10px 0 0 0;
  padding-left: 5px;  
}


#storeLogo {
  padding:10px;
  float: left;
}



div.header {
  background:#ffffff;
}




div.headerShortcuts {
  float: right;
  margin-top: 15px;
  margin-right: 17px;  
  color:#7f736f;
  font-family:Arial, Helvetica, sans-serif;
  font-size:13px;
}


/* *************************************************************** */
/* Banniere du haut */
/* TOP HEADER LINK BAR */
/* TOP HEADER BACKGROUND COLOUR */



/* Partie droite navigateur en dessous de la Banniere */

.header a{
   color: #7F736F;
   cursor: pointer; 
}

A.headerNavigation {
  color:#7F736F;
  TEXT-DECORATION: none;
}

A.headerNavigation:hover {
  color: #7F736F;
  TEXT-DECORATION: none;
}

A.headerLink {
  color: #7F736F;
}

A.headerLink:hover {
  color: #7F736F;
}

TR.headerError {
  background: #ff0000;
}

TD.headerError {
  font-family:  Verdana, Arial, sans-serif;
  font-size: 12px;
  background: #ff0000;
  color: #ffffff;
  font-weight : bold;
  text-align : center;
}

TR.headerInfo {
  background: #00ff00;
}

TD.headerInfo {
  font-family:  Verdana, Arial, sans-serif;
  font-size: 12px;
  background: #00ff00;
  color: #ffffff;
  font-weight: bold;
  text-align: center;
}
