A {
  color: #4F4F4F;
  text-decoration: none;
}


/*Couleurs des liens en survole*/
A:hover {
  text-decoration: underline;
}

A.pageResults {
  color: #4F4F4F;
}

A.pageResults:hover {
  color: #4F4F4F;
 /* background: #FFFF33;*/
}

.pageHeading A {
  color: #682b0e!important;
  text-decoration:none;
}

.pageHeading A:hover{
  text-decoration:none;
}


TD.pageHeading  {
  font-size: 20px;
  font-weight: bold;
  color: #ff7d00;
}


a.btn-info, btn-info:hover {
  color:#fff!important;
}

a.btn-primary, btn-primary:hover {
  color:#fff!important;
}