 /*
***************************
résolution 320
 ****************************/

@media (max-width: 320px) { 

  .errorBox {
    font-size: xx-small;
  }

  .stockWarning {
    font-size: xx-small;
  }

  .productsNotifications {
    font-size: xx-small;
  }

  /* message box */
  .messageBox {
    font-size: xx-small;
  }

  .messageStackError,.messageStackWarning {
    font-size: xx-small;
  }

  .messageStackSuccess {
    font-size: xx-small;
  }

  /* input requirement */

  .inputRequirement {
    font-size: xx-small;
  }

  .breadcrumb {
    display: none;
  }
}

/***************************
résolution 360
 ****************************/

@media (min-width: 320px) and (max-width: 360px) { 

  .errorBox {
    font-size: xx-small;
  }

  .stockWarning {
    font-size: xx-small;
  }

  .productsNotifications {
    font-size: xx-small;
  }

  /* message box */
  .messageBox {
    font-size: xx-small;
  }

  .messageStackError,.messageStackWarning {
    font-size: xx-small;
  }

  .messageStackSuccess {
    font-size: xx-small;
  }

  /* input requirement */

  .inputRequirement {
    font-size: xx-small;
  }

  .breadcrumb {
    display: none;
  }
}


/***************************
résolution 480
 ****************************/

@media (min-width: 360px) and (max-width: 480px) { 

  .errorBox {
    font-size: xx-small;
  }

  .stockWarning {
    font-size: xx-small;
  }

  .productsNotifications {
    font-size: xx-small;
  }

  /* message box */
  .messageBox {
    font-size: xx-small;
  }

  .messageStackError,.messageStackWarning {
    font-size: xx-small;
  }

  .messageStackSuccess {
    font-size: xx-small;
  }

  /* input requirement */

  .inputRequirement {
    font-size: xx-small;
  }  
  .breadcrumb {
    display: none;
  }
}

/***************************
résolution 533
 ****************************/

@media (min-width: 480px) and (max-width: 533px) { 

  .errorBox {
    font-size: xx-small;
  }

  .stockWarning {
    font-size: xx-small;
  }

  .productsNotifications {
    font-size: xx-small;
  }

  /* message box */
  .messageBox {
    font-size: xx-small;
  }

  .messageStackError,.messageStackWarning {
    font-size: xx-small;
  }

  .messageStackSuccess {
    font-size: xx-small;
  }

  /* input requirement */

  .inputRequirement {
    font-size: xx-small;
  }
  .breadcrumb {
    padding-bottom: 15px;
    font-size: xx-small;
  }
}



/***************************
résolution 600
 ****************************/

@media (min-width: 533px) and (max-width: 600px) { 

  .errorBox {
    font-size: x-small;
  }

  .stockWarning {
    font-size: x-small;
  }

  .productsNotifications {
    font-size: xx-small;
  }

  /* message box */
  .messageBox {
    font-size: x-small;
  }

  .messageStackError,.messageStackWarning {
    font-size: x-small;
  }

  .messageStackSuccess {
    font-size: x-small;
  }

  /* input requirement */

  .inputRequirement {
    font-size: x-small;
  }

  .breadcrumb {
    padding-bottom: 15px;
    font-size: xx-small;
  }
}

/***************************
résolution 640
 ****************************/

@media (min-width: 600px) and (max-width: 640px) { 

  .errorBox {
    font-size: x-small;
  }

  .stockWarning {
    font-size: x-small;
  }

  .productsNotifications {
    font-size: xx-small;
  }

  /* message box */
  .messageBox {
    font-size: x-small;
  }

  .messageStackError,.messageStackWarning {
    font-size: x-small;
  }

  .messageStackSuccess {
    font-size: x-small;
  }

  /* input requirement */

  .inputRequirement {
    font-size: x-small;
  }

  .breadcrumb {
    padding-bottom: 15px;
    font-size: xx-small;
  }
  .breadcrumb {
    padding-bottom: 15px;
    font-size: xx-small;
  }
}


/***************************
résolution 800
 ****************************/

@media (min-width: 640px) and (max-width: 800px) { 
  .breadcrumb {
    padding-bottom: 15px;
    font-size: xx-small;
  }
}

/***************************
resolution 1024
 ****************************/
@media (min-width: 800px) and (max-width: 1024px) {

}
