
.stockWarning {
  font-size : 10px;
  color: #cc0033;
}

.productsNotifications {
  background: #f2fff7;
}

.breadcrumb {
  margin-top:10px;
  padding-bottom: 15px;
}


.breadcrumb A {
  text-decoration: none;
}

.cookie_law_eu {
  text-align:center;
  font-size:xx-small;
  background-color:#ffffff;
}

.submitButtonView {
  color:#FF0000;
  text-align:right;
}
