#slider ul, #slider li{
  margin:0;
  padding:0;
  list-style:none;
  position:relative;
  display:block;
}

#slider, #slider li {
  width:100%;
  overflow:hidden;
}

.prevBtn, .nextBtn {
  display:block;
  width:21px;
  height:269px;
  position:absolute;
  left:-30px;
  top:71px;
  z-index:1000;
  background:url(../../../../../image/default/carrousel_previous.png) no-repeat 0 0;
  cursor:pointer;
}

.nextBtn{
  left:auto;
}
.nextBtn {
  background:url(../../../../../image/default/carrousel_next.png) no-repeat 0 0;
}

.nextBtn {
  top:-1px;
  left: 920px !important;
}

.prevBtn {
  top:-2px;
  left: -1px !important;
}

.graphic, .prevBtn, .nextBtn{
  margin:0;
  padding:0;
  display:block;
  overflow:hidden;
  text-indent:-8000px;
}
