/***************************
résolution 1050
****************************/


@media(max-width:60rem){
  span.MenuHeaderAdmin  {
    display: none;
  }
}

@media(max-width:72rem){
  span.InfosHeaderWhoOnline {
    display: none;
    float: left;
  }
}

@media(max-width:40rem){
  .logoHeading {
    display: none;
  }
}

/*
// Extra small devices (portrait phones, less than ???px)
// No media query since this is the default in Bootstrap

// Small devices (landscape phones, 34em and up)
@media (min-width: 34em) { ... }

// Medium devices (tablets, 48em and up)
@media (min-width: 48em) { ... }

// Large devices (desktops, 62em and up)
@media (min-width: 62em) { ... }

// Extra large devices (large desktops, 75em and up)
@media (min-width: 75em) { ... }
*/