/**
 * stylesheet.php
 * @copyright Copyright 2008 - http://www.e-imaginis.com
 * @copyright Portions Copyright 2003 osCommerce
 * @license GNU Public License V2.0
 * @version $Id:
*/

/* links */
a {
  color: #000;
  text-decoration: none;
  font-size: 10px;
}

a:link { font-family: Verdana, Arial, sans-serif; font-size: 10px; color: #000000; font-weight: normal; text-decoration: none; }
a:visited { font-family: Verdana, Arial, sans-serif; font-size: 10px; color: #000000; font-weight: normal; text-decoration: none; }
a:active { font-family: Verdana, Arial, sans-serif; font-size: 10px; color: #000000; font-weight: normal; text-decoration: none; }
a:hover { font-family: Verdana, Arial, sans-serif; font-size: 10px; color: #000000; font-weight: normal; text-decoration: underline; }

a.headerLink:link { font-family: Verdana, Arial, sans-serif; font-size: 11px; color: #ffffff; font-weight: bold; text-decoration: none; padding-top:5px;}
a.headerLink:visited { font-family: Verdana, Arial, sans-serif; font-size: 11px; color: #ffffff; font-weight: bold; text-decoration: none; padding-top:5px;}
a.headerLink:active { font-family: Verdana, Arial, sans-serif; font-size: 11px; color: #ffffff; font-weight: bold; text-decoration: none; padding-top:5px;}
a.headerLink:hover { font-family: Verdana, Arial, sans-serif; font-size: 11px; color: #ffffff; font-weight: bold; text-decoration: underline; padding-top:5px;}

a.menuBoxHeadingLink:link { font-size: 10px; color: #616060; font-weight: bold; text-decoration: none; }
a.menuBoxHeadingLink:visited { font-size: 10px; color: #616060; font-weight: bold; text-decoration: none; }
a.menuBoxHeadingLink:active { font-size: 10px; color: #616060; font-weight: bold; text-decoration: none; }
a.menuBoxHeadingLink:hover { font-size: 10px; color: #616060; font-weight: bold; text-decoration: none; }

a.menuBoxContentLink:link { font-family: Verdana, Arial, sans-serif; font-size: 10px; color: #616060; font-weight: normal; text-decoration: none; }
a.menuBoxContentLink:visited { font-family: Verdana, Arial, sans-serif; font-size: 10px; color: #616060; font-weight: normal; text-decoration: none; }
a.menuBoxContentLink:active { font-family: Verdana, Arial, sans-serif; font-size: 10px; color: #616060; font-weight: normal; text-decoration: none; }
a.menuBoxContentLink:hover { font-family: Verdana, Arial, sans-serif; font-size: 10px; color: #616060; font-weight: normal; text-decoration: underline; }

a.splitPageLink:link { font-family: Verdana, Arial, sans-serif; font-size: 10px; color: #0000FF; font-weight: normal; text-decoration: none; }
a.splitPageLink:visited { font-family: Verdana, Arial, sans-serif; font-size: 10px; color: #0000FF; font-weight: normal; text-decoration: none; }
a.splitPageLink:active { font-family: Verdana, Arial, sans-serif; font-size: 10px; color: #0000FF; font-weight: normal; text-decoration: none; }
a.splitPageLink:hover { font-family: Verdana, Arial, sans-serif; font-size: 10px; color: #0000FF; font-weight: normal; text-decoration: underline; background-color: #FFFF33; }

/* menu box */
.menuBoxHeading { font-family: Verdana, Arial, sans-serif; font-size: 10px; color: #616060; background-color: #ffffff; }
.menuBoxContent { font-family: Verdana, Arial, sans-serif; font-size: 10px; color: #616060; }

div.clear {
  clear: both;
}

.contentContainer {
  padding-bottom: 10px;
}

.contentContainer h2 {
  font-size: 16px;
  text-decoration: underline;
  font-weight: normal;
  margin-bottom: 0;
  padding-bottom: 5px;
}

.contentText {
  padding: 0px 0px 0px 0px;
  font-size: 12px;
  line-height: 1.5;
}

.fieldKey {
  font-size: 11px;
  font-weight: bold;
  line-height: 1.5;
  width: 200px;
}

.fieldValue {
  font-size: 11px;
  line-height: 1.5;
}

/* page */
body { background-color: #ffffff; color: #000000; margin: 0px; padding: 0;}
.headerBar { background-color: #B3BAC5; }
.headerBarContent { font-family: Verdana, Arial, sans-serif; font-size: 10px; color: #ffffff; font-weight: bold; padding: 2px; }
.columnLeft { background-color: #F0F1F1; border-color: #999999; border-width: 1px; border-style: solid; padding: 2px; }
.pageHeading { font-size: 17px; color: #FF7F50; padding-top:5px; }

/* data table */
.dataTableHeadingRow {   background-color: #2969C3;  }
.dataTableHeadingContent { font-family: Verdana, Arial, sans-serif; font-size: 10px; color: #ffffff; font-weight: bold; }
.dataTableRow { background-color: #F5F5F5; }
.dataTableRowSelected { background-color: #BAD3E4; }
.dataTableRowOver { background-color: #FFEEC2; cursor: pointer; cursor: pointer; }
.dataTableContent { font-family: Verdana, Arial, sans-serif; font-size: 11px; color: #000000; }

/* info box */
.infoBoxHeading { 
  font-family: Verdana, Arial, sans-serif; 
  font-size: 10px; color: #ffffff; 
   background-image: url(../images/barre_titre_noir.jpg);
 }

.infoBoxContent { 
  font-family: Verdana, Arial, sans-serif; 
  font-size: 10px; color: #000000;       
  background-color: #E7E4E4;          
  }

/* message box */

.messageBox { font-family: Verdana, Arial, sans-serif; font-size: 10px; }
.messageStackError, .messageStackWarning { font-family: Verdana, Arial, sans-serif; font-size: 10px; background-color: Red;  color: White;  }
.messageStackSuccess { font-family: Verdana, Arial, sans-serif; font-size: 10px; background-color: Green;  color: White;  }

table.messageStackError {
  background-color: #FDFDFD;
  font-family : Arial, Helvetica, sans-serif;
  color: Black;
  font-size: 12px;
  text-align: left;
  height: 25px;
  background-repeat: repeat;
  border: 1px solid Red;
}

table.messageStackSuccess {
  background-color: #FDFDFD;
  font-family : Arial, Helvetica, sans-serif;
  color: Black;
  font-size: 12px;
  text-align: left;
  height: 25px;
  background-repeat: repeat;
  border: 1px solid Green;
}


.inputRequirement {
  font-family: Verdana, Arial, sans-serif;
  font-size: 10px;
  color: #ff0000;
}



/* forms */
CHECKBOX, INPUT, RADIO, SELECT, TEXTAREA, FILE {
  font-family: Verdana, Arial, sans-serif;
  font-size: 11px;
}
FORM { display: inline; }

/* account */
.formArea { background-color: #f1f9fe; border-color: #7b9ebd; border-style: solid; border-width: 1px; }
.formAreaTitle { font-family: Tahoma, Verdana, Arial, sans-serif; font-size: 12px; font-weight: bold; }

/* attributes */
.attributes-odd { background-color: #f4f7fd; }
.attributes-even { background-color: #ffffff; }

/* miscellaneous */
.specialPrice { color: #ff0000; }
.oldPrice { text-decoration: line-through; }
.fieldRequired { font-family: Verdana, Arial, sans-serif; font-size: 10px; color: #ff0000; }
.smallText { font-family: Verdana, Arial, sans-serif; font-size: 10px; }
.text { font-family: Verdana, Arial, sans-serif; font-size: 11px; }
.main { font-family: Verdana, Arial, sans-serif; font-size: 12px; }
.errorText { font-family: Verdana, Arial, sans-serif; font-size: 10px; color: #ff0000; }

/* new messageStack styles */
.secInfo, .secSuccess, .secWarning, .secError {
  border: 1px solid;
  margin: 10px 0px;
  padding: 5px 10px 5px 50px;
  background-repeat: no-repeat;
  background-position: 10px center;
  border-radius: 10px;
  -moz-border-radius: 10px;
  -webkit-border-radius: 10px;
}

.secInfo {
  border-color: #00529B;
  background-image: url('../images/ms_info.png');
  background: url('../images/ms_info.png') no-repeat 10px center, url('../images/ms_info_bg.png') repeat-x; /* css3 multiple backgrounds */
  background-color: #BDE5F8;
}

.secSuccess {
  border-color: #4F8A10;
  background-image: url('../images/ms_success.png');
  background: url('../images/ms_success.png') no-repeat 10px center, url('../images/ms_success_bg.png') repeat-x; /* css3 multiple backgrounds */
  background-color: #DFF2BF;
}

.secWarning {
  border-color: #9F6000;
  background-color: #FEEFB3;
  background-image: url('../images/ms_warning.png');
  background: url('../images/ms_warning.png') no-repeat 10px center, url('../images/ms_warning_bg.png') repeat-x; /* css3 multiple backgrounds */
  background-color: #FEEFB3;
}

.secError {
  border-color: #D8000C;
  background-image: url('../images/ms_error.png');
  background: url('../images/ms_error.png') no-repeat 10px center, url('../images/ms_error_bg.png') repeat-x; /* css3 multiple backgrounds */
  background-color: #FFBABA;
}

.secInfo p, .secSuccess p, .secWarning p, .secError p {
  padding: 2px;
}

#adminAppMenu {
  float: left;
  width: 150px;
  padding: 5px;
}

#adminAppMenu h3 {
  font-size: 11px;
}

#adminAppMenu ul {
  list-style: none;
  margin: -5px 0 -5px -10px;
  padding: 0;
}

#contentText {
  margin-left: 160px;
}


/***********************/
/* Custom jQuery UI for gallery box */
/**********************/

element.style {
  display: block;
  height: auto;
  width: 300px;
  top: 400px;
  left: 583px;
}

.ui-dialog .ui-dialog-titlebar-close {
  position: absolute;
  right: .3em;
  top: 50%;
  width: 50px;
  margin: -10px 0 0 0;
  padding: 1px;
  height: 20px;
}


.ui-dialog .ui-dialog-titlebar {
  padding: .4em 1em;
  position: relative;
}

.ui-dialog-buttonset {
  text-align: center;
  font-size: 12px;
  padding-top:5px;
}

.ui-corner-all, .ui-corner-bottom, .ui-corner-right, .ui-corner-br {
  border-bottom-right-radius: 4px;
}
.ui-corner-all, .ui-corner-bottom, .ui-corner-left, .ui-corner-bl {
  border-bottom-left-radius: 4px;
}
.ui-corner-all, .ui-corner-top, .ui-corner-right, .ui-corner-tr {
  border-top-right-radius: 4px;
}
.ui-corner-all, .ui-corner-top, .ui-corner-left, .ui-corner-tl {
  border-top-left-radius: 4px;
}

.ui-widget {
  font-family: Lucida Grande, Lucida Sans, Arial, sans-serif;
  font-size: 14px;
}

.ui-widget-content {
  background: #fff;
  color: #222;
}

#piList li {
  margin: 5px 0;
  padding: 2px;
}
.ui-state-default, .ui-widget-content .ui-state-default, .ui-widget-header .ui-state-default {
  border: 1px solid #d3d3d3;
  background: #e6e6e6;
  font-weight: 400;
  color: #555;
}

.ui-dialog {
  position: absolute;
  top: 0;
  left: 0;
  padding: .2em;
  outline: 0;
}

.ui-widget {
  font-family: Lucida Grande, Lucida Sans, Arial, sans-serif;
  font-size: 11px;
}


.ui-widget-overlay {
  background: #aaa;
  opacity: .3;
  filter: Alpha(Opacity=30);
}


.ui-widget-overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

.ui-front {
  z-index: 100;
}

.ui-widget-header {
  border: 1px solid #aaa;
  background: #ccc;
  color: #222;
  font-weight: 700;
}

.ui-helper-clearfix {
  min-height: 0;
}


/* buttons */

.tdbLink a { }

.tdbLink button { }

/* style facture */
.mainFacture { 
font-family: Arial, Verdana, sans-serif; 
font-size: 12px;
background-color: #DCDCDC;
}


/* Styles fo
r dhtml tabbed-pages */
.mainTitle {
  padding-top:3px;
  height:23px;
  font-size: 12px;
  color: White;
  font-weight: bold;
  background-color:#2969C3;
}

.mainTitleTexteSeul { 
  font-family: Arial, Verdana, sans-serif;
  font-size: 12px;
  color: White;
  font-weight: bold;
}

a.mainTitleTexteSeul {
  font-family: Arial, Verdana, sans-serif;
  font-size: 11px;
  color: White;
  font-style: italic;
}

a.mainTitleTexteSeul:Hover {
  font-family: Arial, Verdana, sans-serif;
  font-size: 11px;
  color: White;
  text-decoration:underline;
  font-style: italic;
}

.mainTitle2 {
  font-family: Arial, Verdana, sans-serif;
  font-size: 12px;
  color: #0000CD;
  font-weight: bold;
}

.mainTable { 
  font-family: Arial, Verdana, sans-serif;
  font-size: 12px;
  border-bottom: 1px solid #CCCCCC;
}

.ontab {
  background-color: #1E90FF;
  border-left: 2px outset #1E90FF;
  border-right: outset 2px #808080;
  border-top: 2px outset Yellow;
  border-bottom: solid 1px #d5d5d5;
  text-align: center;
  cursor: pointer;
  font-family : Arial, Helvetica, sans-serif;
  font-weight: normal;
  color: #FFFFFF;
  font-size: 12px;
}

.offtab {
  background-color : #e5e5e5;
  border-left: outset 2px #E0E0E0;
  border-right: outset 2px #E0E0E0;
  border-top: outset 2px #E0E0E0;
  border-bottom: solid 1px #d5d5d5;
  text-align: center;
  font-family : Arial, Helvetica, sans-serif;
  cursor: pointer;
  font-weight: normal;
  font-size: 12px;
}

.tabpadding {
}

.tabheading {
  background-color: #1E90FF;
  text-align: left;
}

.pagetext {
  visibility: hidden;
  display: none;
  position: relative;
  top: 0;
}

table.adminform {
  background-color: #f5f5f5;
    font-family : Arial, Helvetica, sans-serif;
  color: #333333;
  font-size: 12px;
  border-bottom: dashed 1px #CCCCCC;
  border-top: dashed 1px #CCCCCC;
  border-left: dashed 1px #CCCCCC;
  border-right: dashed 1px #CCCCCC;
  text-align: left;
  height: 25px;
  background-repeat: repeat;
}

table.adminformBoxe {
  background-color: #F0EEEE;
    font-family : Arial, Helvetica, sans-serif;
  color: #333333;
  font-size: 12px;
  border-bottom: dashed 1px #CCCCCC;
  border-top: dashed 1px #CCCCCC;
  border-left: dashed 1px #CCCCCC;
  border-right: dashed 1px #CCCCCC;
  text-align: left;
  height: 25px;
  background-repeat: repeat;
}


table.adminformAide {
  background-color: #FAFAD2;
 font-family : Arial, Helvetica, sans-serif;
  color: #333333;
  font-size: 12px;
  border-bottom: dashed 1px #CCCCCC;
  border-top: dashed 1px #CCCCCC;
  border-left: dashed 1px #CCCCCC;
  border-right: dashed 1px #CCCCCC;
  text-align: left;
  height: 25px;
  background-repeat: repeat;
}

table.adminTitle {
  margin-left:0px;
}


.adminTitle {
  background-color: #FDFDFD;
  font-family : Arial, Helvetica, sans-serif;
  color: Black;
  font-size: 12px;
  text-align: left;
  height: 100%  ;
  background-repeat: repeat;
  border: 1px solid #CCCCCC;
  height:50px;
  padding: 5px 5px 5px 5px;
  margin-left:10px;
  margin-right:10px;
}



.boxeCentral {
  background-color: #FAFAFA;
  font-family : Arial, Helvetica, sans-serif;
  color: Black;
  font-size: 12px;
  text-align: left;
  height: 25px;
  background-repeat: repeat;
  border: 1px solid #CCCCCC;
}


/*
* Jscookmenu
*/

.menuJSCookMenu {
  background-image: url(../images/menuJSCookMenu_noir.gif);
  height:21px;
}

.menuJSCookTexte {
  font-family:	arial, verdana, sans-serif;
  font-size: 13px;
  color: White;
}

.headerFond {
  background-color: #222;
}

.headerLine {
  background-color: #FF0000;
  height:0.05rem;
}

/*************************************
// footer
************************************/

.footerCadre {
  background-color: #E9E9E9;
  border-top: 1px solid #B3B3B3;
}

footer .navbar-collapse.in {
  position: absolute;
  width:100%;
  height:0px;
}
.navbar-inverse {
  background-color: #E9E9E9;
  border-top: 1px solid #B3B3B3;
}
.navbar {
  min-height: 5px;
  padding-left:10px;
  font-size:x-small;
}


.no-script { 
  border: 1px solid #ddd; 
  border-width: 0 0 1px; 
  background: #ffff90; 
  font: 14px verdana; 
  line-height: 1.25; 
  text-align: center; 
  color: #2f2f2f; 
} 
.no-script .no-script-inner { 
  width: 950px; 
  margin: 0 
  auto; 
  padding: 5px;
} 
.no-script p { 
  margin: 0; 
}

span.pageManager A {
  font-weight: bold;
  font-size: 12px;
}


/**********************/
/*     Boostrap       */
/**********************/

element.style {
}
.table-hover>tbody>tr:hover>td, .table-hover>tbody>tr:hover>th {
  background-color: #f5f5f5;
}
.table>thead>tr>th, .table>tbody>tr>th, .table>tfoot>tr>th, .table>thead>tr>td, .table>tbody>tr>td, .table>tfoot>tr>td {
  padding: 3px;
  padding-top: 3px;
  padding-right: 3px;
  padding-bottom: 3px;
  padding-left: 3px;
  border-top: 0px;
}
.table>thead>tr>th, .table>tbody>tr>th, .table>tfoot>tr>th, .table>thead>tr>td, .table>tbody>tr>td, .table>tfoot>tr>td {
  padding: 8px;
  line-height: 1.42857143;
  vertical-align: top;
  border-top: 1px solid #ddd;
}
.dataTableContent {
  font-family: Verdana, Arial, sans-serif;
  font-size: 11px;
  color: #000000;
}
td, th {
  padding-left: 5px;
  padding-top: 3px;
  padding-bottom: 3px;
  padding-right: 3px;
}
td, th {
  padding: 0;
}
* {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}
td[Attributes Style] {
  text-align: -webkit-left;
}

user agent stylesheettd, th {
  display: table-cell;
  vertical-align: inherit;
}

Pseudo ::before element
:before, :after {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

Pseudo ::after element
:before, :after {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

Inherited from table.table.table-hover.table-responsive.adminformTitle table.adminformTitle {
  background-color: #f5f5f5;
  font-family: Arial, Helvetica, sans-serif;
  color: #333333;
  font-size: 12px;
  border-bottom: dashed 1px #CCCCCC;
  border-left: dashed 1px #CCCCCC;
  border-right: dashed 1px #CCCCCC;
  text-align: left;
  height: 25px;
  background-repeat: repeat;
}


.modal-footer {
  border-top: 0px;
}
#loginModal {
  top:20%;
  overflow-y: initial;
}

td, th {

  padding-left:5px;
  padding-top:3px;
  padding-bottom:3px;
  padding-right: 3px;

}

blockquote {
  font-size: 12px;
   border-left:none;
}

.table>thead>tr>th {
  border-bottom: 0px;
}
.table>thead>tr>th, .table>tbody>tr>th, .table>tfoot>tr>th, .table>thead>tr>td, .table>tbody>tr>td, .table>tfoot>tr>td {
  padding: 3px;
  padding-top: 3px;
  padding-right: 3px;
  padding-bottom: 3px;
  padding-left: 3px;
  border-top: 0px;
}

table {
  border-collapse: initial;
}


/*
* Autocompletion
*/

ul.token-input-list {
  overflow: hidden;
  height: auto !important;
  height: 1%;
  width: 150px;
  border: 1px solid #999;
  cursor: text;
  font-size: 12px;
  font-family: Verdana;
  z-index: 100;
  margin: 0;
  padding: 0;
  background-color: #fff;
  list-style-type: none;
  clear: left;
}

ul.token-input-list li {
  list-style-type: none;
}

ul.token-input-list li input {
  border: 0;
  width: 125px;
  padding: 3px 8px;
  background-color: white;
  -webkit-appearance: caret;
}

li.token-input-token {
  overflow: hidden;
  height: auto !important;
  height: 1%;
  margin: 3px;
  padding: 3px 5px;
  background-color: #d0efa0;
  color: #000;
  font-weight: bold;
  cursor: default;
  display: block;
}

li.token-input-token p {
  float: left;
  padding: 0;
  margin: 0;
}

li.token-input-token span {
  float: right;
  color: #777;
  cursor: pointer;
}

li.token-input-selected-token {
  background-color: #08844e;
  color: #fff;
}

.token-input-dropdown {
  background-color: #fff;
  border: 1px solid #eee;
}

div.tabsClicShopping {
  border-left:1px #eee solid;
  border-right:1px #eee solid;
  border-bottom:1px #eee solid;
  padding:5px 5px 5px 5px;
  font-size: 12px;
}

div.adminformAide {
  margin-left:10px;
  margin-right:10px;
}

span.adminformAideContent {
  padding-left:10px;
}

.adminformTitle {
  background-color: #f5f5f5;
  color: #333333;
  border-bottom: dashed 1px #CCCCCC;
  border-left: dashed 1px #CCCCCC;
  border-right: dashed 1px #CCCCCC;
  text-align: left;
  height:100%;
  background-repeat: repeat;
  padding-bottom: 15px;
  padding-top: 15px;
  padding-left:10px;
}

.adminformAide {
  background-color: #FAFAD2;
  color: #333333;
  font-size: 12px;
  border-bottom: dashed 1px #CCCCCC;
  border-top: dashed 1px #CCCCCC;
  border-left: dashed 1px #CCCCCC;
  border-right: dashed 1px #CCCCCC;
  text-align: left;
  height:100%;
  background-repeat: repeat;
  padding-bottom: 15px;
  padding-top: 15px;
  padding-left:10px;
}

.centerInputFields {
  height:30px;
  padding-top:10px;
  display: table-cell;
  font-size: 12px;
}

.spaceRow {
  height:15px;
}
