
/* reset */
* {
  margin: 0;
  padding: 0;
}

/* MARKUP */
body {
  line-height: 120%;
}

a {
  color: #000;
}


h1 {
  font-size: 18px;
  color: #ac3235;
  font-weight: normal;
  margin: 5px 0 15px 0;
}

h2 {
  color: #898989;
  font-size: 16px;
  margin: 5px 0 10px 0;
}

h3 {
  font-size: 12px;
  margin-top: 0px;
}

table {
  margin: 0px 0px 10px 0px;
}
th {
  text-align: left;
  padding: 5px 0px 5px 0px;
}
#wapper {
  width: 960px;
  margin:0 auto;
}

#mainBlock {
  background: #FFFFFF;
  padding: 0 2px 0 0;
}

.contentBlock {
  border: 1px solid #DDDDDD;
  padding: 15px;
  margin-bottom: 15px;
}

.infoPane {
  background: #ffedd1;
  border: 1px #f7c77a solid;
  margin-top: 20px;
  padding: 10px;
}

.infoPaneContents {
  padding: 0px 10px 10px 10px;
}

#mBox {
  margin-bottom: 10px;
  display: none;
}

#mBoxContents {
  background: #ffedd1;
  border: 1px #f0a42a solid;
  padding: 10px;
}

.license {
  font-size: 12px;
  border: 1px solid #dddddd;
  background: #fbfbf3;
  width:99%;
  height:350px;
  padding-left:10px;
  overflow-y:auto;
  overflow:auto;
  text-align:left;
}

blockquote {
  font-size: 14px;
  border-left: none;
}

.inputRequirement {
  color: red;
}