/*
  $Id$

  osCommerce, Open Source E-Commerce Solutions
  http://www.oscommerce.com

  Copyright (c) 2010 osCommerce

  Released under the GNU General Public License
*/

div.shoppingCartInformationSave {
  text-align:center;
}

p.shoppingtextAlternativeCheckout {
  text-align:right;
  clear: both; 
  padding: 15px 50px 0 0;
}

p.shoppingCartSubTotal {
  text-align: right;
  font-weight: bold;
}

table.tableShoppingCartHeading {

}

table.tableShoppingCartContent {

}

