#columnLeft {
  padding-top: 5px;
  padding-bottom: 5px;
  background: #ffffff;  
 /* height:860px;*/
}

#columnRight {
  padding-top: 5px;
  background: #ffffff;  
}


.infoBoxContainer {
/*   padding-bottom:10px;	*/
}

.infoBoxHeading {
  padding: 2px;
  font-size: 11px;
}

.infoBoxContents {
  padding: 5px;
  font-size: 11px;
  line-height: 1.5;
}


/* *************************************************************** */

/* PRODUCT AND MENU BOX */

/*---------- CADRES D'ENTOURAGE DES BOXES ----------*/

/* Cadre d'entourage des boxes (Original) */
.infoBox {
  background: #ffffff;
/*  border : 1px double #682B0E;*/
}

