body {
  background: #f0edec;
  color: #4F4F4F;
  margin: 0px;
  font-size: 11px;
  font-family: Open Sans, Rokkitt, Verdana, Arial, sans-serif;
}

#bodyWrapper {
    position:relative;
}

#bodyContent {
    background-color:#ffffff;
   padding-bottom:10px;
}

#wrap {
  min-height: 100%;
  height: auto !important;
  height: 100%;
/*  background-color:#ffffff;*/
}
.wrapper {
  overflow:hidden;
  width:100%;
}

.wrapper_w {
  display:inline-block;
  width: 100%;
}



h1 {
  margin-bottom: 20px;
  margin-top:0px;
  text-transform:uppercase;
  font-size: 20px;
  line-height: 24px
}

h2 {
  margin-bottom: 15px;
  text-transform:uppercase;
  font-size: 20px;
  line-height: 24px;
  padding-right:65px;
  font-weight: normal;
}

h2.nopadding {
  padding:0;
}

h3 {
  text-transform: uppercase;
    font-size: 18px;
    line-height: 20px;
    font-weight:normal;
}

.h3 {
  font-size: 0.3em;
}


h4 {
  margin-bottom: 15px;
  text-transform:uppercase;
    font-size: 20px;
    line-height: 20px
}

h5 {
  font:normal 24px/26px Arial, Helvetica, sans-serif;
  font-style:italic;
  margin:0;
  padding:0;
}

img {
  border: 0;
}

.orderEdit {
  font-size : 10px; color: #70d250;
  text-decoration: underline;
}


TEXTAREA {
  width: 100%;
  font-family: Verdana, Arial, sans-serif;
  font-size: 11px;
}

FORM {
  display: inline;
}

/****************/
/* style facture */
/****************/
.mainFacture { 
  font-family: Verdana, Arial, sans-serif; 
  font-size: 12px;
  background-color: #DCDCDC;
}



/* *************************************************************** */
/* Prix  de la boutique */
/* *************************************************************** */

span.normalPrice{
  font-weight:normal;
  font-size: 10px;
}


span.specialPrice{
  font-weight:bold;
  padding-left:5px;
  color:#ce060b;
  font-size: 14px;
}


div.EndDateFlashDiscount, span.EndDateFlashDiscount {
  color:#c4071b;
  font-weight:bold;
  font-size: 10px;
  text-align: center;
}

span.EndDateFlashDiscountBoxe {
  color:#c4071b;
  font-weight:bold;
  font-size: 10px; 
}

span.markProductOutOfStock {
  font-size: 12px;
  color: #c76170;
  font-weight: bold;
}

/* *************************************************************** */

div.headerNavigation H2, span.headerNavigation H2 {
    border: medium none;
    display: block;
    font-style: normal;
    font-size: 12px;
    padding-top:10px;
    padding-left: 3px;
}

/* Boxe du panier (Affichage quand un nouveau produit vient d'etre ajoute */

INPUT,  SELECT {
  font-size: 11px;
  border: 2px solid #fff;
  border-radius: 4px;
  box-shadow: 0px 0px 4px rgba(0, 0, 0, 0.27); 
  padding-right: 30px;
  height:30px; 
  background-color: #fff;
}

CHECKBOX, RADIO {
  font-size: 11px;
  border: 2px solid #fff;
}


SPAN.greetUser {
  font-size: 12px;
  color: #f0a480;
  font-weight: bold;
}

.moduleRow { }

.moduleRowOver {
  background-color: #f8f8f9;
  cursor: pointer;
}

.moduleRowSelected {
  background-color: #f8f8f9;
}

.hr {
  color: #eee;
  background-color: #eee;
  height: 1px;
}

/*************************************
         Page introduction
*************************************/
div.Pageintroduction {
  padding-left: 10px;
}

div.PageintroductionAccessCatalog {
  text-align:center;
  padding-top: 10px;
}

div.PageintroductionAccessCatalog A {
  color: #000;
}

.wrapperIntroduction {
  min-height: 100%;
  height: auto !important;
  height: 100%;
  margin: 0 auto -40px; /* the bottom margin is the negative value of the footer's height */
  background-color: #fff;
}
.footerIntroduction, .push {
  height: 40px; /* .push must be the same height as .footer */
}

