table, p {
  font-size: 11px;
  line-height: 1.5;
}


TD.hr {
    color: #ffffff;
    background-color: #DCBCBC;  
    height: 1px;
}


/*---------- ENTETE ET PIED DES BOXES ----------/*


/* Entete et pied des Boxes droite,  gauche et centrale (Original)*/
TD.infoBoxHeading {
  font-size: 10px;
  font-weight: bold;
  background: #bbc3d3;
  color: #ffffff;
}
TD.infoBox, SPAN.infoBox {
  font-size: 10px;
}

TR.accountHistory-odd, TR.addressBook-odd, TR.alsoPurchased-odd, TR.payment-odd, TR.productListing-odd, TR.productReviews-odd, TR.upcomingProducts-odd, TR.shippingOptions-odd {
  background: #f8f8f9;
}

TR.accountHistory-even, TR.addressBook-even, TR.alsoPurchased-even, TR.payment-even, TR.productListing-even, TR.productReviews-even, TR.upcomingProducts-even, TR.shippingOptions-even {
  background: #f8f8f9;
}


TD.main, P.main {
  font-size: 11px;
  line-height: 1.5;
}

TD.smallText,SPAN.smallText,P.smallText {
  font-size: 10px;
  color: #000000;
}

TD.tableHeading {
  font-size: 12px;
  font-weight: bold;
  color: #000000;
}


TABLE.formArea {
  background: #f1f9fe;
  border-color: #7b9ebd;
  border-style: solid;
  border-width: 1px;
}

TD.formAreaTitle {
  font-size: 12px;
  font-weight: bold;
}


