.footerSuffix {
  text-align: center;
}
div.footerSuffixCopyright, span.footerSuffixCopyright {
   padding-top:2px;
   font-size:10px;   
   background-color:#fff;
   color: #000;
}

.footerSuffixCopyright A {
  color:#000!important;;
}

.footerSuffixCopyright a:hover {
  color:#000!important;;
}


div.footerSuffixTrademark, span.footerSuffixTrademark {
   font-size:10px;
   background-color:#fff;
   color: #000;
}

.footerSuffixTrademark A {
   color: #000!important;
}

.footerSuffixTrademark a:hover {
  color:#ffffff;
}

div.footerSuffixClicShopping {
   color: #000;
   background-color:#fff;
   font-size:11px;
}
