/*
***************************
résolution 320
****************************/

@media (max-width: 320px) {

}

/***************************
résolution 360
 ****************************/

@media (min-width: 320px) and (max-width: 360px) {

}


/***************************
résolution 480
 ****************************/

@media (min-width: 360px) and (max-width: 480px) {

}

/***************************
résolution 533
 ****************************/

@media (min-width: 480px) and (max-width: 533px) {

}



/***************************
résolution 600
 ****************************/

@media (min-width: 533px) and (max-width: 600px) {

}

/***************************
résolution 640
 ****************************/

@media (min-width: 600px) and (max-width: 640px) {

}


/***************************
résolution 800
 ****************************/

@media (min-width: 640px) and (max-width: 800px) {

}

/***************************
resolution 1024
 ****************************/
@media (min-width: 800px) and (max-width: 1024px) {

}
